<table class="rules-table">
    <br>
    <br>
    <br>
    <br>
    <h1 class="rules-heading">Kurallar</h1>
    <tr>
      <td><span>*</span>İlan eklemek için yetki sahibi olmalısınız.</td>
    </tr>
    <tr>
      <td><span>*</span>Araç ismi minimum 2 harf olmalı.</td>
    </tr>
    <tr>
      <td><span>*</span>Form'da boş alan kalmamalı.</td>
    </tr>
    <tr>
      <td><span>*</span>Değerler 0'dan büyük olmalı.</td>
    </tr>
    <tr>
      <td><span>*</span>Araç ismi 'ğ' ile başlamamalı.</td>
    </tr>
  </table>
  <button class="btn btn-fill btn-danger" [routerLink]="'/cars/add'">Araç ekleme'ye dön</button>

  