<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>BrandName</th>
            <th>ColorName</th>
            <th>CarName</th>
            <th>ModelYear</th>
            <th>DailyPrice</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">

        <td>{{car.carId}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>

    </tr>
</table>